header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

header input {
    width: 35vw;
    padding: 10px 12px;
    outline: none;
    border-radius: 50px;
    background-color: var(--bg-primary);
    border: 1px solid var(--border);
}

@media (max-width: 767px) {
    header input {
        flex-grow: 1;
    }
}

html.light-mode header input {
    background-color: var(--bg-secondary);
    color: black;
}

header input:focus {
    border: 1px solid #222a36;
}