.app {
    display: flex; 
    width: 100%;
    min-height: 100vh;
    padding-left: clamp(200px, 16vw, 280px);
    background-color: transparent;
}

.app-main {
    overflow: hidden;
    flex-grow: 1;
}

@media (max-width: 767px) {
    .mobile-sidebar {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .app {
        padding-left: 0;
    }
}